VERSION 2
    4   it should have a completed method

    DONE!
        1   it should have an HTML page to start adding user input
        2   it should have HTML input and submit for addTodos
        3   it should have an HTML list for todos array


VERSION 1

    DONE!
        1   It should have an object for todos
        2   It should have an array to todos
        3   It should have a way to display todos
        4   it should have a way to add todos
        6   it should have a way to edit todos
        5   it should have a way to delete todos

        7   It should use forEach to print array
        8   It should use an arrow callback function on forEach